@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

.unscrollable {
  height: 100%;
  overflow: hidden;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  padding-block: 3em;
}

footer a {
  color: #ec5242;
}

footer .footer-logo a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0;
  text-decoration: none;
  font-family: Pacifico, Helvetica, sans-serif;
  color: #f45011;
}

footer .footer-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0;
  width: 45%;
}

footer .footer-image img {
  width: 70%;
  height: auto;
}

footer .footer-rest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 10px;
}

footer .footer-rest .footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #272a31;
}

footer .footer-rest .footer-text .heart {
  color: red;
}

footer .footer-rest .footer-text p {
  margin-block: 5px;
  font-size: 14px;
  color: #272a31;
  font-weight: 400;
}

footer .footer-rest .footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}

footer .footer-rest .footer-icons a {
  font-family: "CocogooseLetterPress", sans-serif;
  font-size: 25px;
  color: #272a31;
  padding: 10px;
}

footer .footer-rest .footer-email {
  margin-top: -30px;
}

footer .footer-rest .footer-email a {
  font-family: "Cocogoose", sans-serif;
  font-size: 14px;
  color: #272a31;
}

footer.dark {
  background: #2e2e2e;
}

footer.dark .footer-image img {
  filter: invert(0.85);
}

footer.dark .footer-text p,
footer.dark .footer-email a,
footer.dark .footer-icons a {
  color: #ccc;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-bottom: 1em;
  }

  footer a {
    color: #ec5242;
  }

  footer .footer-logo a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
    text-decoration: none;
    font-family: Pacifico, Helvetica, sans-serif;
    color: #f45011;
    max-width: 40%;
  }

  footer .footer-rest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 10px;
  }

  footer .footer-rest .footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #272a31;
  }

  footer .footer-rest .footer-text .heart {
    color: red;
  }

  footer .footer-rest .footer-text p {
    margin-block: 5px;
    font-size: 18px;
    color: #272a31;
    font-weight: 400;
  }

  footer .footer-rest .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
  }

  footer .footer-rest .footer-icons a {
    font-family: "CocogooseLetterPress", sans-serif;
    font-size: 25px;
    color: #272a31;
    padding: 10px;
  }

  footer .footer-rest .footer-email {
    margin-top: -30px;
  }

  footer .footer-rest .footer-email a {
    font-family: "Cocogoose", sans-serif;
    font-size: 14px;
    color: #272a31;
  }

  footer.dark {
    background: #2e2e2e;
  }

  footer.dark .footer-image img {
    filter: invert(0.85);
  }

  footer.dark .footer-text p,
  footer.dark .footer-email a,
  footer.dark .footer-icons a {
    color: #ccc;
  }
}
