$primary-1: #272a31;
$primary-2: #ec5242;
$primary-3: #d3d3d3;
$header-bg: #fff;
$hamburger-color: #545454;
$home-main-bg: #f8f8f8;
$about-main-bg: #f7f7f7;
$program-item-bg: #3c3f46;

@font-face {
  font-family: CocogooseLetterPress;
  src: url("../assets/fonts/cocogoose_letterpress/COCOGOOSELETTERPRESS-TRIAL.ttf");
}

@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.ttf");
}

@mixin font-size-color($ff, $size, $color) {
  font-family: $ff;
  font-size: $size;
  color: $color;
}

$font-1: "Cocogoose", sans-serif;
$font-2: "CocogooseLetterPress", sans-serif;
$font-3: "Lato", sans-serif;

@mixin flex-row($jc, $gap) {
  display: flex;
  flex-direction: row;
  justify-content: $jc;
  gap: $gap;
}

@mixin flex-column($ai, $gap) {
  display: flex;
  flex-direction: column;
  align-items: $ai;
  gap: $gap;
}

@mixin place-it($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

.unscrollable {
  height: 100%;
  overflow: hidden;
}
